# Ignore Python virtual environment
.venv/
# === IDE / Editor files ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
*~

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore logs
*.log

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore your local settings file
settings_local.json
*.mp3
*.wav
.env
*.mp4
*.jpg
*.png
*.gif
*.h5
*.pkl
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.gif
*.bmp
*.tiff
*.webp
*.mp4
*.mov
*.avi
*.mkv
*.wav
*.mp3
*.pkl
*.md