# Ignore Python virtual environment
.venv/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore logs
*.log

# Ignore OS-specific files
Thumbs.db
.DS_Store

# Ignore your local settings file
settings_local.json
.mp3
.wav
.env
.mp4
.jpg
.png
.gif
uncleaned_datasets/
output_weekwise/